*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    max-width: 100%;
    background: url(../img/bg.png) center center / cover no-repeat;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

/* HEADERRRRRRRRRR */
.header {
    background: url(../img/Rectangle.png) center center / cover no-repeat;
    height: 50px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin-top: -17px;
}

.navigation > ul > li {
    display: inline-block;
    margin-right: 33px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.navigation > ul > li > a {
    color: #FFFFFF;
}

.nav-link {
    padding: 0px;
}

.header__inner > img {
    padding-top: 13px;
}
/* HEADERRRRRRRRRR */

/* ABOOOOOOUUUUUTTTTT */
.about {
    padding-top: 141px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__left {
    width: 100%;
    height: 352px;
    display: block;
    text-align: left;
}

.about__top {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: 0.4px;
    text-transform: uppercase; 
    color: #4B7BD9;
    padding-bottom: 12px;
}

.about__title {
    display: flex;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;    
    color: #FFFFFF; 
}

.about__text {
    padding-top: 40px;
    display: block;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.about__btn > a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}

.about__btn {
    position: relative;
    bottom: -11px;
    width: 92px;
    height: 42px;
}

.about__video > iframe {
    width: 540px;
    height: 340px;
}

/* ABOOOOOOUUUUUTTTTT */

/* TEHNICAAAAAAAAAAAAA */

.tehnica {
    padding-top: 126px;
}

.tehnica__top {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;  
    color: #4B7BD9;
}

.tehnica__title {
    padding-top: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tehnica__text {
    padding-top: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;  
    color: #FFFFFF; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tehnica__imageblock1 {
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tehnica__imageblock2 {
    padding-top: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* TEHNICAAAAAAAAAAAAA */


/* BUYYYYYYYYYYYYYYYYYYYYYYY */
.buy {
    padding-top: 128px;
    padding-bottom: 20px;
}

.buy__top {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;  
    color: #4B7BD9;
    padding-bottom: 17px;
}

.buy__rectangle {
    display: flex;
    background: rgba(124, 100, 177, 0.31);
    border-radius: 89px;
    padding-bottom: 20px;
}

.buy__textblock {
    padding-top: 31px;
    padding-left: 32px;
    width: 479px;
    height: 225px;
    justify-content: space-between;
    align-items: center;
}

.buy__inner{
    display: flex;
    justify-content: space-between;

}

.buy__windowbuy {
    padding-top: 60px;
    margin-left: 225px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy__textblock__one {
    padding-top: 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy__textblock__one__colored {
    color: gold;
}

.buy__textblock__two{
    display: flex;
    text-align: left;
    padding-top: 54px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy__windowbuy_numberofrecrutstop {
    padding-bottom: 11px;
}

.buy__windowbuy__numberofrecruts{
    width: 340px;
    height: 160px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy__textblock__three{
    padding-top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-control {
    background: rgba(75, 123, 217, 0.61);
    border-radius: 14px;
    border-color: transparent;
}

.input-group {
    padding-top: 10px;
}

.buy__windowbuy__recrut {
    padding-top: 30px;
}

.buy__windowbuy__recrut__top {
    padding-bottom: 10px;
}

.buy__windowbuy__price {
    padding-top: 30px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
}

.buy__windowbuy__price__price {
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #EEF145;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price__btn > a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;  
    color: #FFFFFF;
}

.btn {
    bottom: -20px;
    width: 150px;
}

/* BUYYYYYYYYYYYYYYYYYYYYYYY */
.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

/* //ADAPTIVEEEEEEEEEEEEEEEEEEEEEEEEEEEE// */
@media screen and (max-width:1200px) {
    .about__inner {
        display: block;
    }
    .about__video {
        text-align: center;
    }

    .about__left {
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .about__title {
        display: block;
        text-align: center;
    }

    .about__text {
        display: block;
        text-align: center;
    }

    .about__video {
        padding-top: 25px;
    }

    .about__btn {
        top: 22px;
    }

    .buy__windowbuy {
        margin-left: 150px;
    }

    .tehnica__imageblock1,
    .tehnica__imageblock2 {
        display: inline-block;
        padding-top: 0;
    }

    .tehnica__imageblock__inner {
        padding-top: 65px;
        display: block;
        text-align: center;
    }

    .tehnica__imageblock2 > img {
        padding-top: 5px;
    }

    .tehnica__imageblock1 > img {
        padding-top: 5px;
    }

}

@media screen and (max-width:1024px) {



    .buy__windowbuy {
        padding-top: 100px;
    }

    .buy__inner{
        display: block;
        margin: 0 auto;
    }

    .buy__textblock__one,
    .buy__textblock__two,
    .buy__textblock__three {
        font-size: 13px;
        padding-top: 0;
        text-align: center;
    }

    .buy__windowbuy,
    .buy__windowbuy__numberofrecruts,
    .buy__windowbuy__reflink,
    .buy__windowbuy__recrut,
    .buy__windowbuy__price {
        margin: 0 auto;
    }

    .buy__windowbuy_numberofrecrutstop,
    .buy__windowbuy__reflink__top,
    .buy__windowbuy__recrut__top,
    .form-check-input {
        text-align: center;
    }

    .form-check {
        display: flex;
        justify-content: center;
    }


    .btn {
        display: block;
        position: relative;
        margin: 0 auto;
    }


}


@media screen and (max-width:600px) {

    .about__video > iframe {
        width: 400px;
        height: 260px;
    }

    .buy__textblock__one,
    .buy__textblock__two,
    .buy__textblock__three {
        font-size: 10px;
    }

    .buy__textblock {
        padding-left: 0;
    }

    .buy__windowbuy {
        padding-top: 35px;
    }

}


@media screen and (max-width:540px) {

    .about__video > iframe {
        width: 305px;
        height: 172px;
    }

    .about__title,
    .tehnica__title {
        font-size: 25px;
        line-height: 33px;
    }

    .buy__textblock {
        padding-top: 0px;
        padding-left: 32px;
        width: 321px;
    }

    .tehnica {
        padding-top: 43px;
    }

    .buy__textblock__one,
    .buy__textblock__two,
    .buy__textblock__three {
        font-size: 10px;
    }

    .buy__textblock {
        padding-left: 0;
    }

    .buy__windowbuy {
        padding-top: 88px;
    }

}

@media screen and (max-width:470px) {
    .buy__textblock__one,
    .buy__textblock__two,
    .buy__textblock__three {
        font-size: 10px;
    }

    .buy__windowbuy {
        padding-top: 30px;
    }

    .buy__textblock {
        padding-top: 15px;
    }

}

@media only screen and (max-width: 422px) and (min-width: 360px) {
    .buy {
        padding-top: 50px;
    }

    .buy__textblock {
        padding-left: 44px;
        padding-top: 23px;
        width: 284px;
    }

    .buy__windowbuy {
        padding-top: 160px;
        font-size: 14px;
    }

    .buy__windowbuy_numberofrecrutstop,
    .form-check-label {
        font-size: 14px;
    }

    .input-group {
        width: 90%;
        right: -12px;
    }

    .btn {
        bottom: 10px;
    }
}
